/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;
    /* Location of the box */
    padding-top: 100px;
    left: 0;
    top: 0;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
    border-radius: 38px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalTitle {
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
}

.modalMessage {
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-decoration: italic;
    margin-bottom: 15px;
}

.modalName {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.modalCompany {
    font-family: Arial, sans-serif;
    font-style: italic;
}

.modalTime {
    font-family: 'Courier New', monospace;
    font-size: 4em;
    margin-bottom: 30px;
}